/* Clear standard styles */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Required styles */

body {
    color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #1E1E1E;
}

.header {
    background-color: #323233;
    padding: 1.6rem 0;
    text-align: center;
}

.header__logo {
    display: inline-block;
    background: url('./icons/menu.png') 0 0/contain no-repeat;
    width: 5rem;
    height: 5rem;
}

.header__container {
    display: inline-block;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.6rem;
    color: #1BCEB8;
}

.header__title {
    font-size: 3rem;
    margin-bottom: .4rem;
}
  
.header__subtitle {
    font-size: 1.6rem;
    font-weight: 300;
}

/* Action Bars */

.actions {
    background-color: #858585;
    padding: .8rem
}

.actions__container {
    align-items: center;
    display: flex;
    max-width: 63rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.actions__container--spaced {
    justify-content: space-between
}

#search-text {
    width: 100%;
}

#search-text:focus, #filter-by:focus {
    box-shadow: 4px 4px 8px #D27333;
}

#filter-by {
    width: 100%;
}

/* Input forms */

.input {
    border: 1px solid #dedfe0;
    /* border-radius: 5px; */
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
    padding: .4rem .8rem;
    background: #252526;
    color: #FFFFFF;
}

.dropdown {
    /* border-radius: 5px; */
    border: 1px solid #dedfe0;
    background: #252526;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    text-indent: 0.4rem;
    color: #FFFFFF;
}

/* Buttons */
#add-btn {
    background: url('./icons/add.png') 0 0/contain no-repeat;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: fixed;
    overflow: hidden;
    top: calc(100% - 100px);
    left: calc(100% - 100px);
    z-index: 1;
}

#save-btn {
    background: url('./icons/checked.png') 0 0/contain no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#close-btn {
    background: url('./icons/cancel.png') 0 0/contain no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.del-button {
    background: url('./icons/cancel.png') 0 0/contain no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    float: right;
}

#add-btn:hover, #save-btn:hover, #close-btn:hover, .del-button:hover  {
    box-shadow: 0px 0px 2rem #D27333;
}

#add-btn:focus {
    box-shadow: 0px 0px 2rem #D27333;
}

/* Notes Bank */

.notes-bank {
    max-width: 60rem;
    margin: auto;
}

.note-container {
    text-decoration: none;
    color: #E77F21;
    background-color: #333333;
    border: 1px solid #dedfe0;
    margin: 1.7rem 0;
    padding: 1.2rem 1.6rem;
    display: block;
}

.note-container:hover {
    background-color: #3d3c3c;
}

.note-title__container {
    font-size: 1.8rem;
    margin-bottom: .4rem;
}

.note-textarea__container {
    font-size: 1rem;
    margin-bottom: .4rem;
    color: #858585;
}

.note-time__container {
    color: #CBCB37;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

.empty-message {
    text-align: center;
    margin: 3.2rem 0;
    font-size: 1rem;
}


/* Modal window background */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add animation to modal window */

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}